.five{
    .contain{
        .comment{
            width: 350px;
            padding: 5px 0 0 5px;
            background-image: url(../media/Rectangle\ 44.png);
            background-size: 100%;
            .main{
                font-size: 13px;
                padding: 18px 18px;
                background-color: #F4F4F4;
                border-radius: 12px;
                &__ul{
                    padding-left: 0;
                    display: flex;
                    gap: 10px;
                    li{
                        display: flex;
                        gap: 6px;
                        img{
                            width: 40px;

                        }
                        span{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:400px){
    .five{
        .contain{
            .comment{
                width: 100%;
            }
        }
    }
}